<!DOCTYPE html>
<%- include("partials/header"); -%>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>
      Contact
    </h1>
    <p>
      <%= startcontact %>
    </p>
  </body>
  <%- include("partials/footer"); -%>
</html>
