<!DOCTYPE html>
<%- include("partials/header"); -%>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Blog Site</title>
  </head>
  <body>
    <h1>Home</h1>
    <p>
      <%= startingContent %>

      <% posts.forEach(function(post){ %>
        <% console.log(post.title); %>
      <% }); %>
      
    </p>
  </body>
  <%- include("partials/footer"); -%>
</html>
